* {
    margin: 0;
    padding: 0;
    /* border: 1px solid white; */
}

body{
    background-color: #202431;
    width: 100%;
}

.header{
    margin: 3% auto;
    width: 450px;
}


#search-form{
    margin: 50px 0px 0px 0px;
    display: flex;
}

#city, #states{
    margin-right: 10px;
    padding-left: 5px;
    border: none;
    border-radius: 3px;
}

#city{
    width: 300px;
    height: 40px;
}

#states{
    width: 200px;
}

#search-btn{
    padding: 0px 25px;
    background-color: #1688d4;
    color: white;
    border: none;
    border-radius: 3px;
    font-weight: bolder;
}

    #search-btn:hover{
        background-color: #065f9a;
        cursor: pointer;
        transition: 100ms;
    }



h1, h2, h3, h4, p, td {
    color: white;
    font-family: Helvetica, Arial, sans-serif;
}

    h1 {
        font-size: 2rem;
        margin-bottom: 0.75rem;
        text-align: center;
    }

    h2{
        font-weight: lighter;
        font-size: 1.25rem;
        line-height: 1.75rem;
        text-align: center;
    }

    h3{
        font-weight: 400;
        font-size: 1.75rem;
        margin-bottom: 0.5rem;
    }

    h4{
        font-weight: lighter;
        font-size: 1.5rem;
        opacity: 25%;
    }

    .data-div p{
        margin: 40px;
        font-size: 1.1rem;
        font-weight: 400;
    }

    span.data{
        margin-left: 15px;
        font-family: monospace;
        font-size: 1.25rem;
        text-align: right;
        color: #1688d4;
    }

.card-container{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    max-width: 75%;
    justify-content: center;
}

#card{
    background-color: #373a46;
    width: 400px;
    height: auto;
    border-radius: 20px;
    margin: 25px;
    padding-bottom: 20px;
}

    #card:hover{
        background-color: #323541;
        transition: 300ms;
    }

.close-btn{
    padding: 25px;
    display: flex;
    justify-content: flex-end;
}

.icon{
    padding: 10px;
    width: 16px;
}

    .icon:hover{
        background-color: #444753;
        border-radius: 10px;
        cursor: pointer;
        transition: 250ms;
    }

.card-header{
    padding: 0px 40px;
}

#flag{
    margin-top: 20px;
    width: 60px;
    border-radius: 10%;
}

hr{
    border-color: #1688d4;
    margin: 25px auto;
    width: 80%;
    display: flex; 
}


div#api-info{
    justify-content: center;
    display: inline-flex;
    margin: 20px auto;
    width: 100%;
}

#api-info p{
    padding-top: 40px;
    opacity: 20%;
    height: 25px;
    display: flex;
    align-items: center;
}

#api-info img{
    height: 30px;
    padding-left: 20px;
}

footer{
    margin: 50px;
}

footer #signature a{
    color: white;
}

footer #signature{
    padding-top: 20px;
    text-align: center;
    opacity: 50%;
    text-decoration: inherit;
}



