* {
    margin: 0;
    padding: 0;
    /* border: 1px solid white; */
}

body{
    background-color: #202431;
    width: 100%;
}

.header{
    margin: 50px;
    width: 450px;
}

.header p{
    padding-top: 40px;
    opacity: 50%;
    height: 25px;
    display: flex;
    align-items: center;
}

.header p img{
    width: 100px;
    padding-left: 10px;
}

h1, h2, h3, h4, p, li {
    color: white;
    font-family: Helvetica, Arial, sans-serif;
}

    h1 {
        font-size: 2rem;
        margin-bottom: 0.75rem;
    }

    h2{
        font-weight: lighter;
        font-size: 1.25rem;
        line-height: 1.75rem;
    }

    h3{
        font-weight: 400;
        font-size: 1.75rem;
        margin-bottom: 0.5rem;
    }

    h4{
        font-weight: lighter;
        font-size: 1.5rem;
        opacity: 25%;
    }

    li{
        list-style-type: none;
        margin: 40px;
        font-size: 1.1rem;
        font-weight: 400;
    }

    li p{
        font-size: .9rem;
        font-weight: 400;
        opacity: 25%;
    }

.card-container{
    display: inline-flex;
}

.card{
    background-color: #373a46;
    width: 400px;
    height: auto;
    border-radius: 20px;
    margin: 50px;
    padding-bottom: 20px;
}

.close-btn{
    padding: 25px;
    display: flex;
    justify-content: flex-end;
}

.icon{
    width: 16px;
}

.location{
    padding: 0px 40px;
}

.flag{
    margin-top: 20px;
    width: 60px;
    border-radius: 10%;
}

hr{
    border-color: #19cfe7;
    margin: 25px auto;
    width: 80%;
    display: flex; 
}



